.card_wrapper{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.card{
    width: 100px;
    height: 100px;
}
.card_red{
    background: red;
}
.card_blue{
    background: blue;
}
.card_green{
    background: green;
}
.btn{
    border: 0px solid black;
    margin: 8px;
    padding: 8px;
    color: white;
}
.btn_red{
    background: red;
}
.btn_blue{
    background: blue;
}
.btn_green{
    background: green;
}

