.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card_red{
  background: red;
  width: 100px;
  height: 100px;
}
.Card_blue{
  background: blue;
  width: 100px;
  height: 100px;
}
.Card_green{
  background: green;
  width: 100px;
  height: 100px;
}
.Button_red{
  background: red;
  color: white;
}
.Button_blue{
  background: blue;
  color: white;
}
.Button_green{
  background: green;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
